@using DevSpot.Constants
@model IEnumerable<DevSpot.Models.JobPosting>;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-center m-5" style="color: #8ae6e6">All Jobs Posted</h1>

<div class="row">
    @foreach (var jobPosting in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="list-group-item list-group-item-primary h-100" id="job-posting-@jobPosting.Id">
                <h3 style="color: #863939; font-weight: bold;">@jobPosting.Title</h3>
                <p>@jobPosting.Description</p>
                <p><strong>Company:</strong> @jobPosting.Company</p>
                <p><strong>Location:</strong> @jobPosting.Location</p>
                <p><strong>Posted on:</strong> @jobPosting.PostedDate.ToShortDateString()</p>

                @if (User.IsInRole(Roles.ADMIN) || User.IsInRole(Roles.EMPLOYER))
                {
                    <div onclick="deleteJobPosting(@jobPosting.Id)"
                    class="btn btn-sm btn-danger">
                        Delete
                    </div>
                }

                @* <a asp-action="DeleteEasy" asp-route-id="@jobPosting.Id">Delete</a> // an easy way, but gives no control/editing/etc *@
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        // Add any additional JavaScript needed for this page
        function deleteJobPosting (jobId) {
            if(confirm("Are you sure you want to delete this job?")) {
            
                // url
                // type (delete)
                // success -> visually delete the jobPosting from the page
                // fail -> alert the user that the deletion failed

                $.ajax({
                        url: "@Url.Action("Delete", "JobPostings")/" + jobId,
                        type: 'DELETE',
                        success: function (result) {
                            // Remove the job from the page
                            $('#job-posting-' + jobId).remove();
                        },
                        error: function (err) {
                            alert('Failed to delete the job.');
                        }
                });
            }
        }
    </script>
}